.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* h1 {
  color: #333;
}

p {
  color: #555;
  margin-bottom: 10px;
}

.question {
  margin-top: 20px;
}

.question h3 {
  color: #007bff;
}

.reponse {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 10px;
  width: 10%;
}

label {
  color: #333;
  cursor: pointer;
  width: 90%;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

p.Résultat {
  margin-top: 20px;
  color: #333;
  font-weight: bold;
} */

