/* header.css */

.header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .header h1 a {
    text-decoration: none;
    color: #fff;
  }
  
  .header div .Link-header {
    background-color: #2575d1;
    color: #fff;
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
  }
  
  .header div .Link-header:nth-child(2) {
    background-color: #2575d1;
  }
  
  .header div .Link-header:hover {
    background-color: #2a75b3;
  }
  